@model IEnumerable<OnVen.Web.Data.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/b-2.0.1/datatables.min.css" />


<div class="shadow bg-white rounded">
    <div class="card">
        <div class="card-header"><h4>Products</h4></div>
        <div class="card-body">
            <p></p>
            <p>
                <button title="" class="btn btn-outline-primary btn-sm" onclick="location.href = '@Url.Action("Create", new { })'">
                    <i class="fa fa-plus"></i>
                    New
                </button>
            </p>
            <br />
            <table class="table table-hover table-responsive table-striped" id="MyTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageFullPath)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsStarred)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Qualification)
                        </th>

                        <th>
                            Category
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductImagesNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductQualifications)
                        </th>
                        <th width="120px"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <img src="@item.ImageFullPath" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsStarred)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qualification)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductImagesNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductQualifications)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil-alt"></i></a>
                            <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-outline-info btn-sm"><i class="fa fa-clipboard-list"></i></a>
                            <button data-id="@item.ProductId" class="btn btn-outline-danger btn-sm deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fa fa-trash-alt"></i></button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/b-2.0.1/datatables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
            });

            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Products/Delete/', false);
        });
    </script>
}
